/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Navbar Styles */
#navbar {
    background-color: #15032c;
    color: white;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    border-bottom: 2px solid white;
}

#navbar header {
    font-size: 1.5em;
    margin-bottom: 20px;

}

.nav-link {
    display: block;
    color: white;
    padding: 10px 0;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #5c0664;
}

/* Main Content */
#main-doc {
    margin-left: 220px;
    /* Leave space for the fixed navbar */
    padding: 20px;
}

.main-section {
    margin-bottom: 40px;
}

.main-section header {
    font-size: 2em;
    margin-bottom: 10px;
}

.main-section p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.main-section code {
    display: block;
    background-color: #f4f4f4;
    padding: 10px;
    margin: 10px 0;
}

.main-section ul {
    margin-left: 20px;
    list-style-type: square;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    #navbar {
        width: 100%;
        height: auto;
        position: static;
    }

    #main-doc {
        margin-left: 0;
    }
}